{# index.twig #}
{% extends 'master.twig' %}

{% block body %}
  <h2>
    My Blog
  </h2>
  {% for record in records %}
  <article>
    <h4>
      <a href="{{ record.link }}">{{ record.title }}</a>
    </h4>
  </article>
  {% else %}
  <article>
    no article found
  </article>
  {% endfor %}
{% endblock %}
