$TEMPLATE_URL : '/theme/bolt-webpack-starter-theme/';

h2 {
  background: #571010;
  color: rgb(247, 247, 247);
}

header.header1 {
  height: 200px;
  background: url('../images/background.png') no-repeat;
}

.header2 {
  height: 200px;
  background: url($TEMPLATE_URL+'static/background.png') no-repeat;
}
